* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    width: -webkit-fill-available;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px blue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 15px purple;
    border-radius: 10px;
    border: 2px solid;
}
